/* Styling for the base.html*/
body {
  background-color: #f9fafc;
}

.text-end-m-3 {
  border-top: 3px solid black;
}

footer.footer.mt-auto.py-3.dark-bg {
  border: 3px solid black;
}

/*django message styling*/
#msg {
  border: solid 3px black;
}

/* navbar styling */
a.navbar-brand {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.light-bg {
  background-color: #fff;
}

.dark-bg {
  background-color: #445261;
}

.main-bg {
  background-color: #f9fafc;
}

.btn-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000 !important;
  margin: 0 2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: none;
}

a.nav-link.active.btn-link {
  padding: 3px;
}

li.nav-item {
  padding: 3px;
}

/* Card  stylings*/
.card {
  border: none;
  background-color: transparent;
  padding: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border: solid 3px black;
  background-color: silver;
}

.card-text {
  color: black;
}
/* Image styling */
img.card-img-top {
  border: 3px solid black;
  width: 415px;
  height: 548px;
  object-fit: inherit;
}

.image-container {
  position: relative;
}

.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #188181;
}

.scale {
  width: 100%;
  height: auto;
}

.author {
  color: white;
  margin: 4px;
  text-transform: uppercase;
}

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 50vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
  height: auto;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

/* Pagination buttons */
a.page-link {
  border: 3px solid black;
  background-color: silver;
}

/* Styling for the Post-Detail.html */
.profile-image {
  width: 75%;
}

.post-link {
  text-decoration: none;
  color: #445261;
}

.post-link:hover,
.page-link {
  color: #e84610;
}

.post-title {
  margin-top: 10%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.btn-signup,
.btn-edit {
  background-color: #188181;
  color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
  background-color: #fff;
  color: #23bbbb;
}

.link {
  color: #23bbbb;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: #445261;
  text-decoration: underline;
}

.btn-like {
  color: #e84610;
  border: none;
  background: transparent;
}

.btn-delete {
  color: #fff;
  background: #e84610;
}

.btn-like:hover,
.btn-like:active {
  color: #e84610;
  background: transparent;
  border: none;
}

.faded {
  color: rgb(172, 175, 175);
}

.approval {
  color: rgb(222, 146, 168);
}

/* Stlying for the signin page */
#signin {
  border: solid 3px black;
  background-color: silver;
  text-align: center;
}

#signinbox1 {
  padding: 10px;
}

#signinbox2 {
  padding: 10px;
}

#signincontainer {
  border: solid 3px black;
  background-color: silver;
  padding: 10px;
}

/*Styling for the sign out page */
#signout {
  border: solid 3px black;
  text-align: center;
  background-color: silver;
}

#signoutpadding {
  padding: 10px;
}

#signoutbutton {
  text-align: center;
}

/* Signup page styling*/

#signupbox {
  padding: 10px;
}

#signuprow {
  padding: 10px;
}

#signupbox1 {
  border: solid 3px black;
  text-align: center;
  background-color: silver;
  padding: 16px;
}

#signupbox2 {
  border: solid 3px black;
  background-color: silver;
  padding: 16px;
}

#signup_form {
  list-style-type: none;
  padding: 10px;
}

/* About Page Styling */

#me {
  border: solid 3px black;
  width: 100%;
}

#aboutmebox {
  padding: 10px;
}

#aboutmepadding {
  padding: 10px;
}

#aboutmetitlebox {
  padding: 32px;
  border: solid 3px black;
  background-color: silver;
  text-align: center;
}

#aboutcontainer {
  border: solid 3px black;
  background-color: silver;
  padding: 10px;
}

#collaborateposttitle {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px;
  text-align: center;
}

#collaborateposttext {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 10px;
  text-align: center;
}
/* Categories Page Styling */

#posttitle {
  border: solid 3px black;
  background-color: silver;
  text-align: center;
}

/* Add a post page styling */
#addpostcontainer {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

#addposttitle {
  border: 3px solid black;
  text-align: center;
  padding: 10px;
  background-color: silver;
}

#postform {
  border: 3px solid black;
  padding: 10px;
  background-color: silver;
}

/* Edit a Post Styling */
#edittitle {
  border: 3px solid black;
  background-color: silver;
  padding: 10px;
}

#editform {
  border: 3px solid black;
  background-color: silver;
  padding: 10px;
}

/* Media queries */
@media (min-width: 320px) {
  img.card-img-top {
    border: 3px solid black;
    width: 100%;
    height: auto;
    object-fit: inherit;
  }
}
