{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- My original code for the post editing page -->
<div class="container">
    <h2 id="edittitle">Edit Post</h2>
    <form method="POST" enctype="multipart/form-data" id="editform">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}

{% block copyright %} Copyright 2025 Warren Selby {% endblock %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}